*{margin:0;padding:0;}
header,footer,aside,section,article,nav{display:block;}
@media only screen and (max-device-width:480px){body{-webkit-text-stroke:0 black;}}body.ff2{opacity:.99;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix{zoom:1;}
*:first-child+html .clearfix{zoom:1;}
select{min-width:1.5em;}
body{font-size:62.5%;}
html{font-size:100%;}
p,ol,ul{margin:10px 0;}
img{border:none;}
ol{margin:15px 0 15px 20px;}
ul{margin:15px 0 15px 15px;}
pre{margin:10px 0;}
h1{font-size:3.2em;line-height:1em;}
header h1{letter-spacing:-1px;}
h2{font-size:1.8em;letter-spacing:-1px;}
h3{font-size:1.6em;letter-spacing:-0.5px;}
h4{font-size:1.4em;letter-spacing:-0.5px;}
h5{font-size:1.3em;}
h6{font-size:1.2em;}
a[name]:hover{text-decoration:none;}
a:hover{text-decoration:underline;}
article h1{font-size:20px;margin-top:30px;}
article h2{font-size:18px;margin-top:30px;}
article h3{font-size:15px;margin-top:30px;}
article h4{font-size:14px;margin-top:30px;}
article h5{font-size:13px;margin-top:30px;}
article h6{font-size:12px;margin-top:30px;}
article h1,article h2,article h3,article h4,article h5,article h6{-webkit-text-stroke:1px rgba(255, 255, 255, 0.0078125);opacity:.99;}
article h3,article h4,article h5,article h6{color:#5a5a5a;}
article header h1{margin:12px 0 0;font-size:22px;padding-top:0;float:left;width:640px;-webkit-text-stroke:1px rgba(255, 255, 255, 0.0078125);opacity:.99;}
div#wrap{margin:0 auto;width:1000px;text-align:left;margin-top:-1px;border-top:1px solid transparent;}
aside#posterous_header{min-height:39px;}aside#posterous_header a.logo{background:url('/images/posterous-header.png') no-repeat left top;width:75px;height:35px;text-indent:-9999px;display:inline;margin-left:-5px;float:left;margin-left:150px;}
aside#posterous_header nav{float:right;margin-top:10px;}
header#page_header{width:640px;margin-left:155px;display:block;}header#page_header hgroup a:hover{text-decoration:none;color:#ccc;}
header#page_header h1.header_image{margin-top:15px;}
nav#navigation ul{margin-left:0;}nav#navigation ul li{list-style:none;display:inline-block;padding-right:20px;margin:0px 0px 10px 0px;-webkit-text-stroke:1px rgba(255, 255, 255, 0.0078125);opacity:.99;}nav#navigation ul li a{font-size:17px;}
section#extra_links{margin-bottom:15px;overflow:hidden;}section#extra_links a.back_to_blog{margin:15px 0;font-size:1.4em;display:block;}
section#extra_links h1{color:#111;font-size:18px;margin-bottom:2px;}
section#extra_links div{height:11px;}
section#extra_links a#global_tags{display:block;font-size:10px;}
section#extra_links ul li{list-style:none;display:inline;padding-right:10px;}
section#extra_links a#search_all{display:block;font-size:10px;}
aside#sidebar section{margin-bottom:30px;}aside#sidebar section ul{margin:0;}
section#profile h1{margin:0;}
section#profile img.profile_image{border:1px solid #ccc;width:75px;height:75px;}
section#profile div.external{margin:10px 0;}
section#profile>a{margin:10px 0;display:block;}
section#contributors li a img{width:20px;height:20px;border:1px solid #ccc;vertical-align:middle;}
section#contributors li a{vertical-align:middle;}
section#contributors li a:first-child{text-decoration:none;padding-right:3px;}
section#statistics ul li{margin-bottom:5px;}
section#fans img{width:20px;height:20px;vertical-align:middle;border:1px solid #ccc;}
section#rss a{text-indent:-9999px;width:14px;height:14px;display:block;background:url('/images/feed-icon-14x14.png') no-repeat left top;}
aside#sidebar section#subscriptions{margin-bottom:15px;}
section#tags li a span{font-size:10px;}
div#articles{float:left;}
article{width:795px;position:relative;margin-bottom:35px;}article header{width:795px;padding-top:5px;}article header section{float:left;width:130px;text-align:right;padding-top:17px;margin-right:25px;display:inline;min-height:40px;}
article header aside.sms{float:left;padding-top:10px;}
div.editbox{position:absolute;top:0;visibility:hidden;height:16px;left:155px;}div.editbox ul.mini_commands{margin-top:0px;}
article:hover div.editbox{visibility:visible;}
article div.body{width:640px;float:right;font-size:1.2em;line-height:1.8em;display:inline;}article div.body div.inner{margin:15px 0 0;}
article div.body div.inner>*:first-child{margin-top:0;margin-bottom:0;}
article div.body div.inner>p:first-child{margin-top:15px;}
article div.body p,article div.body blockquote{margin:15px 0 18px;}
article div.body div.posterousGalleryMainDiv{margin:0 0 15px;}
article div.body blockquote{color:#5a5a5a !important;font-size:1.1em !important;font-family:Arial,Helvetica,sans-serif !important;padding:10px 15px 10px 25px !important;background:#eeeeee url('images/quote.png') no-repeat 8px 1em;display:block !important;width:600px;}
article footer{float:left;width:800px;margin-top:10px;}
footer section.author{float:right;}footer section.author h1 a img{filter:alpha(opacity=[object Object]);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;filter:alpha(opacity=[object Object]);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;filter:alpha(opacity=[object Object]);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;filter:alpha(opacity=[object Object]);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;width:10px;height:10px;vertical-align:middle;border:1px solid #ccc;}
footer section.author :hover h1 a img{filter:alpha(opacity=[object Object]);-moz-opacity:1;-khtml-opacity:1;opacity:1;filter:alpha(opacity=[object Object]);-moz-opacity:1;-khtml-opacity:1;opacity:1;filter:alpha(opacity=[object Object]);-moz-opacity:1;-khtml-opacity:1;opacity:1;filter:alpha(opacity=[object Object]);-moz-opacity:1;-khtml-opacity:1;opacity:1;width:20px;height:20px;}
footer section.comments h1{font-size:12px;font-weight:normal;margin:0 0 0 155px;}
footer section.comments section h1{margin-bottom:15px;padding-top:40px;width:640px;margin-left:155px;border-bottom:1px solid #ddd;padding-bottom:2px;font-size:16px;line-height:20px;font-weight:bold;}
div.comment{float:left;width:640px;margin-left:25px;font-size:12px;line-height:20px;}
div.comment_value{float:left;margin-left:25px;width:640px;line-height:18px;font-size:12px;}
div.comment_avatar{float:none;margin-top:10px;}
div.commentunit div.profile_icon{margin-top:5px;}
div.commentname{font-size:12px;margin-bottom:5px;}
div.comment_loading_div{margin-left:155px;}
div.comment_spacer{font-size:14px;padding-top:14px;}
div.comment_area{clear:left;float:left;}
footer section.tags{color:#aaa;margin-bottom:20px;}footer section.tags h1{font-size:11px;margin:0;padding-right:5px;display:inline;}footer section.tags h1 span{font-weight:normal;}
footer section.tags ul{margin:0;display:inline;}footer section.tags ul li{padding-right:10px;display:inline;list-style:none;}footer section.tags ul li a{color:#666;}
footer section.locations{font-size:10px;margin-top:10px;margin-bottom:20px;}footer section.locations h2{font-size:11px;margin-top:0px;}
footer section.locations ul{display:block;margin:0;}footer section.locations ul li{display:block;list-style:none;}
footer section.locations div.location_detail{margin-top:20px;padding:8px;background-color:#f9f9f9;border:1px solid #eee;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;overflow:auto;}footer section.locations div.location_detail div.map{float:left;width:300px;height:150px;}
footer section.locations div.location_detail div.summary{float:right;width:172px;}
footer section.share,footer section.tags,footer section.locations{width:640px;margin-left:155px;}
footer#pagination{margin-left:155px;width:640px;padding-bottom:50px;overflow:hidden;clear:both;}
.pagination{padding:3px;margin:3px;}.pagination a{padding:2px 5px;margin:2px;border:1px solid #ccc;text-decoration:none;color:#ccc;}
.pagination span.disabled{padding:2px 5px;margin:2px;border:1px solid #eee;color:#ddd;}
footer section.share{height:25px;margin-bottom:10px;}
div.ajaxResult{margin-bottom:10px;color:#090;font-size:10px;}
div.retweet{display:inline-block;vertical-align:middle;background:url('/images/icons/services/twitter11.png') no-repeat left center;padding-left:15px;min-width:1px;min-height:11px;zoom:1;*display:inline;}
.twitter-share-button{float:left;}
div.facebook_like{float:left;display:inline;position:relative;margin-left:5px;zoom:1;}
table{font-size:11px;border:none;margin:10px 0 0;border-spacing:0px;line-height:16px;text-align:left;}
td{border:none;border-bottom:1px solid #eee;padding:4px;margin:0px;vertical-align:top;}
th{text-align:left;font-weight:bold;padding:4px;border:none;border-bottom:1px solid #ccc;vertical-align:bottom;}
hr{margin-top:10px;margin-bottom:10px;border:1px solid #ddd;}
div.posterousListComments div.comment,div.posterousAddNewComment div.comment,div.posterousAddNewComment div.comment_value{margin-left:25px;}
aside.private{position:relative;margin-top:10px;}
aside.private:hover div.private_post_message{display:block;}
div.private_post_message{position:absolute;right:0;top:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);-moz-box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);-moz-box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);-moz-box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);box-shadow:0 3px 10px rgba(0, 0, 0, 0.23);background:#ffffff;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);filter:formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr='{0}', endColorstr='{1}')", #ffffff, #f2f2f2);-ms-filter:formatstring("{2}progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}'){2}", #ffffff, #f2f2f2, '"');background:#ffffff;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);filter:formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr='{0}', endColorstr='{1}')", #ffffff, #f2f2f2);-ms-filter:formatstring("{2}progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}'){2}", #ffffff, #f2f2f2, '"');background:#ffffff;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);filter:formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr='{0}', endColorstr='{1}')", #ffffff, #f2f2f2);-ms-filter:formatstring("{2}progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}'){2}", #ffffff, #f2f2f2, '"');background:#ffffff;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);filter:formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr='{0}', endColorstr='{1}')", #ffffff, #f2f2f2);-ms-filter:formatstring("{2}progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}'){2}", #ffffff, #f2f2f2, '"');background:#f2f2f2;border:1px solid #aaa;padding:10px;width:100px;display:none;text-align:left;}div.private_post_message h1{font-size:11px;margin:0 0 5px 0;padding:0;float:none;width:auto;}
div.private_post_message p{font-size:10px;margin:0;}
div.posterous_retweet_widget{margin:0px 0px 10px;}
div.posterous_tweet_button{float:left;margin-right:15px;}
body,html{text-align:center;width:100%;height:100%;margin:0;padding:0;background-color:#fff;font-family:Arial,Helvetica,sans-serif;color:#424037;}
a{color:#bc7134;text-decoration:none;}
a[name]{color:#999;text-decoration:none;}
article header h1 a{color:#444;}
article header h1 a:hover{color:#999;text-decoration:none;}
header#page_header hgroup{margin-top:40px;color:#999;display:block;}
header#page_header hgroup a{color:#999;}
header#page_header hgroup h2{margin:10px 0 30px;font-size:1.4em;font-weight:normal;color:#999;letter-spacing:0px;}
nav#navigation ul li a.current{color:#999;}
section#extra_links{margin-top:15px;}
section#extra_links h1 span{letter-spacing:0;display:block;font-size:10px;font-weight:normal;color:#999;}
section#extra_links ul{color:#999;font-size:10px;}
form.search input.text{font-size:12px;padding:2px 2px 2px 20px;border:1px solid #ccc;background:#ffffff url(images/icons/search16.png) no-repeat 3px 3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
aside#sidebar{float:right;width:160px;margin-top:20px;font-size:1.2em;color:#999;}aside#sidebar section h1{font-size:11px;font-weight:normal;color:#999;letter-spacing:0;}
aside#sidebar section ul li{list-style:none;color:#999;}
aside#sidebar section#profile{line-height:1.4em;}
section#statistics{font-size:10px;color:#999;}section#statistics strong{color:#424037;}
section#tags li.selected a{color:#424037;}
h2#archive_list{margin-top:0px;color:#111;}
section#archives{display:block;}
section#archives div.inner{margin-left:10px;line-height:1.5em;}
section#archives div.year{margin-top:5px;margin-bottom:5px;}
article header aside.sms{font-size:11px;color:#999;}
div.editbox a{color:#999;}
div.editbox a:hover{color:#bc7134;}
article time a{font-size:14px;color:#c6c1a5;}
footer section.author h1{font-size:10px;font-weight:normal;color:#999;margin:0 0 5px;}
footer section.author h1 a{color:#999;}
footer section.author:hover h1 a{color:#bc7134;text-decoration:none;}
div.comment_label{float:left;width:130px;color:#c6c1a5;font-size:14px;padding-top:2px;margin-top:0px;text-align:right;}
div.comment_spacer{float:left;width:130px;color:#999;font-size:14px;padding-top:14px;text-align:right;display:block;}
div.comment_date{color:#c6c1a5;font-size:14px;}
div.commentunit{margin:10px 0px;color:#424037;}
footer section.locations h1{font-size:11px;font-weight:normal;color:#999;line-height:21px;margin-top:0px;}
.pagination a:hover,.pagination a:active{border:1px solid #ca9d00;color:#bc7134;}
.pagination span.current{padding:2px 5px;margin:2px;font-weight:bold;border:1px solid #bc7134;background-color:#bc7134;color:#fff;}
input,select,textarea{color:#444;font-size:1.6em;font-family:"Lucida Grande",sans-serif;line-height:1.3em !important;padding:5px;-webkit-text-stroke:1px rgba(255, 255, 255, 0.01);}
input[type='text'],input[type='password'],select,textarea{background-color:#fff;border:1px solid #ccc;}
input[type='button'],input[type='submit']{height:2em;font-size:1.4em;color:#fff;margin-top:10px;}
button,input.awesome{text-rendering:optimizeLegibility;font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;border-style:none;-webkit-text-stroke:1px rgba(255, 255, 255, 0.01);}
*:first-child+html button{margin-left:1px;margin-right:1px;}
button:hover{cursor:pointer;}
button::-moz-focus-inner{border:0;}
.awesome,.awesome:visited{background:#222222 url(images/alert-overlay.png) repeat-x;display:inline-block;padding:5px 10px 6px;color:#fff;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);border-bottom:1px solid rgba(0, 0, 0, 0.25);position:relative;cursor:pointer;}
.awesome,.awesome:visited,x:-moz-any-link{padding-bottom:4px;}
.awesome:hover{background-color:#111;color:#fff;}
.awesome:active{top:1px;}
.small.awesome,.small.awesome:visited{font-size:11px;padding:;}
.awesome,.awesome:visited,.medium.awesome,.medium.awesome:visited{font-size:13px;font-weight:bold;line-height:1;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);}
.large.awesome,.large.awesome:visited{font-size:14px;padding:8px 14px 9px;}
.green.awesome,.green.awesome:visited{background-color:#91bd09;}
.green.awesome:hover{background-color:#749a02;}
.blue.awesome,.blue.awesome:visited{background-color:#2daebf;}
.blue.awesome:hover{background-color:#007d9a;}
.red.awesome,.red.awesome:visited{background-color:#e33100;}
.red.awesome:hover{background-color:#872300;}
.magenta.awesome,.magenta.awesome:visited{background-color:#a9014b;}
.magenta.awesome:hover{background-color:#630030;}
.orange.awesome,.orange.awesome:visited{background-color:#ff5c00;}
.orange.awesome:hover{background-color:#d45500;}
.yellow.awesome,.yellow.awesome:visited{background-color:#ffb515;}
.yellow.awesome:hover{background-color:#fc9200;}
button[disabled],button[disabled]:hover,button[disabled]:active{background:#999;border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;color:#aaa;cursor:not-allowed;text-shadow:none;}
input[name="commit"]{background:#222222 url(images/alert-overlay.png) repeat-x;display:inline-block;padding:5px 10px 6px;color:#fff;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);border-bottom:1px solid rgba(0, 0, 0, 0.25);position:relative;cursor:pointer;padding-bottom:4px;font-size:13px;font-weight:bold;line-height:1;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);background:#222222 url(images/alert-overlay.png) repeat-x;display:inline-block;padding:5px 10px 6px;color:#fff;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);border-bottom:1px solid rgba(0, 0, 0, 0.25);position:relative;cursor:pointer;padding-bottom:4px;font-size:13px;font-weight:bold;line-height:1;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);border-style:none;font-size:14px;padding:8px 14px 9px;}
input[name="commit"],x:-moz-any-link{padding-bottom:7px;}
.github-link{padding-left:20px;display:block;background:url(images/github-favicon.png) no-repeat 0 50%;color:#369;font-family:Monaco,'Courier New','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace;}
button,input.awesome{text-rendering:optimizeLegibility;font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;border-style:none;-webkit-text-stroke:1px rgba(255, 255, 255, 0.01);}
*:first-child+html button{margin-left:1px;margin-right:1px;}
button:hover{cursor:pointer;}
button::-moz-focus-inner{border:0;}
.awesome,.awesome:visited{background:#222222 url(images/alert-overlay.png) repeat-x;display:inline-block;padding:5px 10px 6px;color:#fff;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);border-bottom:1px solid rgba(0, 0, 0, 0.25);position:relative;cursor:pointer;}
.awesome,.awesome:visited,x:-moz-any-link{padding-bottom:4px;}
.awesome:hover{background-color:#111;color:#fff;}
.awesome:active{top:1px;}
.small.awesome,.small.awesome:visited{font-size:11px;padding:;}
.awesome,.awesome:visited,.medium.awesome,.medium.awesome:visited{font-size:13px;font-weight:bold;line-height:1;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);}
.large.awesome,.large.awesome:visited{font-size:14px;padding:8px 14px 9px;}
.green.awesome,.green.awesome:visited{background-color:#91bd09;}
.green.awesome:hover{background-color:#749a02;}
.blue.awesome,.blue.awesome:visited{background-color:#2daebf;}
.blue.awesome:hover{background-color:#007d9a;}
.red.awesome,.red.awesome:visited{background-color:#e33100;}
.red.awesome:hover{background-color:#872300;}
.magenta.awesome,.magenta.awesome:visited{background-color:#a9014b;}
.magenta.awesome:hover{background-color:#630030;}
.orange.awesome,.orange.awesome:visited{background-color:#ff5c00;}
.orange.awesome:hover{background-color:#d45500;}
.yellow.awesome,.yellow.awesome:visited{background-color:#ffb515;}
.yellow.awesome:hover{background-color:#fc9200;}
button[disabled],button[disabled]:hover,button[disabled]:active{background:#999;border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;color:#aaa;cursor:not-allowed;text-shadow:none;}
